@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: var(--light-grey);
    max-width: 1366px;
    max-height: 768px;
    box-sizing: border-box;
    transition: 0.30s all;
}

main {
    margin: 10px 0 0 100px;
}
nav{
    background-color: #18c29c;
}


.sideBar {
    position: fixed;
    width: 78px;
    height: 768px;
    left: 0px;
    top: 0px;
    background-color: var(--green);
}

button {
    cursor: pointer;
    border: none;
    /*----all-buttons----*/
}

.logo {
    display: flex;
    align-items: center;
    margin: 17px 0 0 6px;
    background-color: var(--green);

}

.logo-image {
    position: relative;
    left: 5px;
    bottom: 50px;
    background-color: var(--green);
    margin-left: 13px;
    opacity: 0;
    visibility: hidden;


}

.menu-btn {
    position: relative;
    bottom:50px;
    left: -55px;
    border: none;
    background-color: var(--green);
    transition: 0.3s;

}

.menu-btn:hover {
    transition: 0.3s;
    transform: scale(1.3);
}

.menu-btn>span {
    background-color: var(--green);
}

.menu-btn>span>img {
    background-color: var(--green);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14px;
    line-height: 63px;
    background-color: var(--green);
}

.retangle {
    position: absolute;
    left: 15px;
    top: 74px;
    width: 50px;
    height: 50px;
    height: 50.92px;
    /* Light green */

    background-color: var(--light-green);
    border-radius: 12px;
}

.search-btn {
    background-color: var(--light-green);
    margin: 14px;
}

.search-btn>span>img {
    transition: 0.3s;
}

.search-btn>span>img:hover {
    transform: scale(1.4);
    transition: 0.3s;
}

.search-text {
    position: absolute;
    width: 52px;
    height: 23px;
    left: 51px;
    top: 17px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    text-transform: capitalize;

    /* Dark green */

    color: var(--text-color);
    background-color: var(--light-green);
    opacity: 0;
    visibility: hidden;

}

.grid-btn {
    position: absolute;
    left: 27px;
    top: 147px;
    background-color: var(--green);
}

.grid-text {
    position: absolute;
    width: 90px;
    height: 23px;
    left: 34.3px;
    top: 2px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-transform: capitalize;

    /* Dark green */

    color: var(--text-color);
    background-color: var(--green);
    opacity: 0;
    visibility: hidden;
}

.pet-btn {
    position: absolute;
    left: 27px;
    top: 198px;
    background-color: var(--green);
}

.pet-text {
    position: absolute;
    width: 50px;
    height: 23px;
    left: 26px;
    top: 2px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-transform: capitalize;

    /* Dark green */

    color: var(--text-color);
    background-color: var(--green);
    opacity: 0;
    visibility: hidden;
}

.user-btn {
    position: absolute;
    left: 27px;
    top: 249px;
    background-color: var(--green);
}

.user-text {
    position: absolute;
    width: 63px;
    height: 23px;
    left: 36px;
    top: 3px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-transform: capitalize;

    /* Dark green */

    color: var(--text-color);
    background-color: var(--green);
    opacity: 0;
    visibility: hidden;
}

.vets-btn {
    position: absolute;
    left: 27px;
    top: 306px;
    background-color: var(--green);
}

.vets-text {
    position: absolute;
    width: 50px;
    height: 23px;
    left: 28px;
    top: 3px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-transform: capitalize;

    /* Dark green */

    color: var(--text-color);
    background-color: var(--green);
    opacity: 0;
    visibility: hidden;
}

.settings-btn {
    position: absolute;
    left: 27px;
    top: 364px;
    background-color: var(--green);
}

.settings-text {
    position: absolute;
    width: 70px;
    height: 23px;
    left: 32px;
    top: 2px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-transform: capitalize;

    /* Dark green */

    color: var(--text-color);
    background-color: var(--green);
    opacity: 0;
    visibility: hidden;
}

.profile {
    display: flex;
    align-items: center;
    position: absolute;
    width: 79px;
    height: 60px;
    left: -1px;
    top: 708px;
    background-color: var(--light-green);
    gap: 0.7rem;
}

.profile>img {
    width: 45px;
    height: 45px;
    margin-left: 13px;

    border-radius: 12px;
    object-fit: cover;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.profile>img:hover {
    transform: scale(1.4);
    transition: 0.3s;
}

.name {
    text-transform: capitalize;
    /* Dark green */
    color: var(--text-color);
    background-color: var(--light-green);
    opacity: 0;
    visibility: hidden;
}

.name-profile {
    width: 98px;
    height: 23px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    /* identical to box height */
    background-color: var(--light-green);
}

.joob {
    width: 67px;
    height: 18px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    background-color: var(--light-green);

}

.log-out {
    position: relative;
    left: -152.5px;
    bottom: 10px;
    width: 24px;
    height: 24px;
    background-color: var(--light-green);
    transition: 0.3s;

}

.log-out:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

/*--------close-Bar-----*/
main.open {
    margin-left: 270px;
}

.open.sideBar {
    width: 250px;
    /*Bar*/
}

.open .logo-image {
    opacity: initial;
    visibility: visible;


    /*------Logo-desapear----*/
}

.open .menu-btn {
    position: none;
    margin-left: 183px;
    transition: 0.3s;
    /*---menu-left---*/
}

.open .retangle {
    width: 222px;
    transition: 0.3s;

}

.open .search-text {
    opacity: initial;
    visibility: visible;
    /*----search-diminui--*/
}

.open .grid-text {
    opacity: initial;
    visibility: visible;
}

.open .pet-text {
    opacity: initial;
    visibility: visible;
}

.open .user-text {
    opacity: initial;
    visibility: visible;
}

.open .vets-text {
    opacity: initial;
    visibility: visible;
}

.open .settings-text {
    opacity: initial;
    visibility: visible;
}

.open .profile {
    width: 251px;
    /*-----diminui-size---*/
}

.open .profile>img {
    opacity: initial;
    visibility: visible;
    /*-------disapear-image----*/
}

.open .name {
    opacity: initial;
    visibility: visible;
}

.open .log-out {
    margin-left: 187px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    /*------button-rotate-----*/
}